@import './components/home.css';
@import './components/quizinstructions.css';
@import './components/play.css';
body{
    background-color: white;
}

*{
    padding: 0;
    margin: 0;
}


.toast-invalid{
    background-color: #f44336  !important;
    border-radius: 5px !important;
    color: whitesmoke !important;
}


.toast-valid{
    background-color: #4caf50  !important;
    border-radius: 5px !important;
    color: whitesmoke !important;
}